@charset "UTF-8";
* { margin: 0; padding: 0; }
body { width: 100%; overflow-x: hidden; min-width: 1200px; }
a { text-decoration: none; color: #333; }
ul { list-style-type: none; }
.clr-fix { clear: both; }
.clr-fix::after { content: ""; display: block; width: 100%; clear: both; }

<!-- header -->
#hd { width: 100%; height: 230px; position: relative; }
#first_line { background: linear-gradient(140deg, #afebff 80%, #ffff9c 60%); padding: 10px 160px; text-align: right; }
#hd_title { display: block; text-align: center; font-size: 34px; font-weight: bold; 
    line-height: 120px; float: right; width: 1000px; padding-right: 180px; }
.hd_wrap { clear: both; width: 1200px; height: 110px; margin: 0 auto; }
.hd_wrap img { width: 176px; height: 102px; padding-top:20px;}
#gnb { width: 1200px; margin: 15px auto; }
#gnb::after { content: ""; display: block; width: 100%; clear: both; }
.menu { width: 1200px; }
.menu .item { float: left; width: 234px; line-height: 32px;
    text-align: center; padding: 8px 0; font-size: 24px; font-weight: bold;
    border-bottom: 3px solid #004691; margin-right: 6px; position: relative;}
.menu .sub_menu { display: none; position: absolute; top: 38px; left: 0px;
    padding: 0; width: 100%; z-index: 999; }
.menu:hover .sub_menu { display: block; }
.menu .sub_menu li { margin:15px 0; padding:5px 0; line-height: 32px;
    width: 100%; background-color: #659ffc; border-radius: 8px; color: aliceblue;}
.menu .sub_menu li a { color : white; font-size: 18px; font-weight: 200;}
.menu .sub_menu li:hover { background-color: deepskyblue; cursor: pointer;}
.page_title { text-align: center; padding-top: 2em; padding-bottom: 0.5em; }

#contents { width: 100%; }
#vs { clear:both; width:1200px; height:500px; overflow:hidden; margin: 0 auto;}
#vs img { display: inline; width:100%; height:auto; margin-top:-250px;}
/*
.img_box { width: 400%; height: 280px; position: relative; width: 25%; }
.img_box li { float: left; }
*/

.breadcrumb { list-style: none; width: 950px; padding: 15px; margin: 0; 
    border-top: 2px solid #ececec; background-color:white; }
.breadcrumb li { display: inline; }
.breadcrumb li:not(:last-child):after { content: "/"; margin: 0 5px; }
.breadcrumb li a { text-decoration: none; color: #007bff; }
.breadcrumb li a:hover { text-decoration: underline; }


#side_bar { width: 250px; min-height: 100vh; border: 2px solid #333; float: left;
    border: 1px solid #ececec; }
#side_bar_title { width: 100%; height: 170px; line-height: 170px;
    text-align: center; font-size: 32px; font-weight: bold; background-color: #afebff; }
#side_bar li { width: 250px; height: 50px; padding-left: 10px; font-size: 16px;
    line-height: 50px; border-bottom: 2px solid #ececec; }
#side_bar li a:hover { color: deepskyblue; text-decoration: underline; }


.btns { width: 120px; height: 40px; text-align: center; margin: 10px; border-radius: 10px; 
    background-color: #f0d264; border-style: hidden; cursor: pointer; font-size: 16px;
    font-weight: bold; box-shadow:0px 4px 0px #D1B757; color:white; line-height:40px; }
.btns_blue { width: 120px; height: 40px; text-align: center; margin: 10px; border-radius: 10px; 
    background-color: #7fb1bf; border-style: hidden; cursor: pointer; font-size: 16px;
    font-weight: bold; box-shadow:0px 4px #74a3b0; color:white; line-height:40px; }
.btns_red { width: 120px; height: 40px; text-align: center; margin: 10px; border-radius: 10px; 
    background-color: #fa5a5a; border-style: hidden; cursor: pointer; font-size: 16px;
    font-weight: bold; box-shadow:0px 4px 0px #E04342; color:white; line-height:40px; }
.btns_blue:hover { box-shadow: 0 0 #74a3b0; background-color: #709CA8; text-decoration:none;
	color:white; }
.btns:hover { box-shadow: 0 0 #ff4c4b; background-color: #D6BB59; text-decoration:none;
	 color:white;}
.btns_red:hover { box-shadow: 0 0 #ff4c4b; background-color: #990000; text-decoration:none;
	color:white; }


.ft_wrap { width:1400px; margin:30px auto ; }
#fnb { width:800px; height:48px; float:left; }
#fnb ul { list-style:none; margin:0px; padding:0px; clear:both; height:48px; }
#fnb li { float:left; width:150px; text-align:left; line-height:48px; }
#fnb li a { color:#fff; }
#loc { width:100px; height:30px; line-height:30px; margin-top:10px; float:right; }
#copyright { clear:both; margin-top:18px; width:100%; }
#ft {
    position: relative;
    padding: 5px 0;
    background: linear-gradient(110deg, #afebff 79.5% , #ffff9c  60%);
    border-top: 3px solid #004691;
    color: #000000;
}
#fnb ul li a { color:#000; }